<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">

    <contextName>learn</contextName>

    <property name="log.days" value="30"/>
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger] [%X{traceId}] - %msg%n"/>

    <!-- 测试环境 -->
    <springProfile name="test">
        <property name="log.path" value="/data/logs/learn"/>
    </springProfile>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>


    <!--指定最基础的日志输出级别-->
    <root level="DEBUG">
        <!--appender将会添加到这个loger-->
        <appender-ref ref="stdout"/>
    </root>


    <!--public日志-->
    <logger name="DEBUG" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>

</configuration>



